<%- model_class = Log -%>
<div class="container-fluid">
<div class="page-header">
  <h1>The Logs.</h1>
</div>
<div class="row">
   <div class="col-xs-12">
    <h3 class="text-center">Top 10 duration requests</h3>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:method) %></th>
      <th><%= model_class.human_attribute_name(:path) %></th>
      <th><%= model_class.human_attribute_name(:controller) %></th>
      <th><%= model_class.human_attribute_name(:action) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @long_duration_logs.each do |log| %>
      <tr>
        <td><%= link_to log.id, log_path(log) %></td>
        <td><%= log.method %></td>
        <td><%= log.path %></td>
        <td><%= log.controller %></td>
        <td><%= log.action %></td>
        <td><%= log.status %></td>
        <td><b><%= log.duration %></b></td>
        <td><%= log.location %></td>
        <td><%=l log.created_at %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      log_path(log),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
    <div class="col-xs-12 col-sm-4">
      <h4 class="text-center">Status</h4>
      <%= pie_chart @statuses, donut: true %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4 class="text-center">Methods</h4>
       <%= pie_chart @methods, donut: true %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h4 class="text-center">Controllers</h4>
      <%= pie_chart @controllers, donut: true %>
    </div>
</div>

<div class="row">
   <div class="col-xs-12">
     <div>
        <h3 class="text-center pt-5">All logs</h3>
     </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:method) %></th>
      <th><%= model_class.human_attribute_name(:path) %></th>
      <th><%= model_class.human_attribute_name(:controller) %></th>
      <th><%= model_class.human_attribute_name(:action) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= link_to log.id, log_path(log) %></td>
        <td><%= log.method %></td>
        <td><%= log.path %></td>
        <td><%= log.controller %></td>
        <td><%= log.action %></td>
        <td><%= log.status %></td>
        <td><%= log.duration %></td>
        <td><%= log.location %></td>
        <td><%=l log.created_at %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      log_path(log),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<span class="pagination"> <%= paginate @logs %> </span>
</div>
